# Virtual Environment
venv/
/venv/
.venv

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db